<div class="flex gap-2 text-gray-800 flex-grow w-full">
  <div class="flex flex-col gap-3 w-full relative">
    <div class="flex flex-grow justify-between items-center gap-2">
      <jira-task-type-selector
        [task]="task"
        [allTypes]="project?.TaskTypes"
      ></jira-task-type-selector>

      <div
        class="cursor-pointer hover:underline decoration-gray-500 font-light text-gray-500 text-sm"
        [routerLink]="taskPageRoute"
      >
        {{ task.Key }}
      </div>
      <div class="flex flex-grow justify-end items-center gap-2">
        <jira-task-side-actions
          [task]="task"
          [sprints]="sprints"
        ></jira-task-side-actions>

        <button
          *ngIf="withCloseIcon"
          tim-simple-button
          size="xs"
          iconBtn="cross"
          color="neutral"
          (click)="crossClicked.emit()"
        ></button>
      </div>
    </div>
    <jira-task-editable-title [task]="task" [title]="task?.Title">
    </jira-task-editable-title>

    <div class="flex flex-grow items-center gap-4">
      <jira-task-status-selector
        [task]="task"
        [allStatus]="project?.AllTaskStatus"
      ></jira-task-status-selector>

      <jira-task-assignee-selector
        [task]="task"
        [assigneeOptions]="members"
      ></jira-task-assignee-selector>

      <jira-task-points-chip
        [task]="task"
        [taskPoints]="task?.Points"
      ></jira-task-points-chip>

      <jira-task-sprint-selector
        [task]="task"
        [activeSprints]="sprints"
      ></jira-task-sprint-selector>
    </div>
    <jira-task-details-editable-description
      [task]="task"
    ></jira-task-details-editable-description>

    <jira-task-comments class="mt-6" [taskId]="task?.Id"></jira-task-comments>
  </div>
</div>
