<div class="flex gap-2 text-gray-800 flex-grow w-full">
  <div class="flex flex-col gap-3 w-full">
    <jira-task-editable-title [task]="task"></jira-task-editable-title>

    <div class="flex gap-4">
      <jira-task-status-selector
        [task]="task"
        [projectId]="project.Id"
        [allStatus]="project.AllTaskStatus"
      ></jira-task-status-selector>

      <jira-task-assignee-selector
        [task]="task"
        [projectId]="project.Id"
        [assigneeOptions]="project.Members"
      ></jira-task-assignee-selector>
    </div>
    <jira-task-details-editable-description
      [task]="task"
    ></jira-task-details-editable-description>
  </div>
</div>
