<div class="flex gap-2 text-gray-800 flex-grow w-full">
  <ng-content></ng-content>
  <div class="flex flex-col gap-3 w-full relative">
    <jira-task-editable-title [task]="task" [title]="task.Title">
    </jira-task-editable-title>

    <button
      tim-simple-button
      iconBtn="cross"
      class="absolute top-2 right-1"
      color="neutral"
      (click)="crossClicked.emit()"
    ></button>

    <div class="flex flex-grow items-center gap-4">
      <jira-task-status-selector
        [task]="task"
        [projectId]="project?.Id"
        [allStatus]="project?.AllTaskStatus"
      ></jira-task-status-selector>

      <jira-task-assignee-selector
        [task]="task"
        [projectId]="project?.Id"
        [assigneeOptions]="project?.Members"
      ></jira-task-assignee-selector>

      <jira-task-points-chip
        [task]="task"
        [taskPoints]="task.Points"
      ></jira-task-points-chip>

      <div class="flex flex-grow justify-end">
        <jira-task-side-actions [task]="task"></jira-task-side-actions>
      </div>
    </div>
    <jira-task-details-editable-description
      [task]="task"
    ></jira-task-details-editable-description>
  </div>
</div>
