<div class="flex flex-col gap-2 flex-grow p-3 bg-blue-50 rounded-sm shadow-sm">
  <div
    class="flex flex-grow text-md items-center font-medium text-gray-800 gap-2"
  >
    <img
      [src]="showList ? ARROW_DOWN : ARROW_RIGHT"
      (click)="toggleList()"
      class="h-5 w-5 cursor-pointer"
      height="20"
      width="20"
    />
    <div>{{ sprint?.Name }}</div>
  </div>

  <jira-task-list
    class="bg-white ease-in-out delay-150"
    [ngClass]="showList ? 'visible' : 'hidden'"
    [tasks]="tasks"
    [project]="project"
    (taskClicked)="taskClicked.emit($event)"
  ></jira-task-list>
</div>
