<div
  class="flex flex-row items-center gap-2 cursor-pointer hover:bg-gray-100 p-1 group"
>
  <div class="flex flex-grow overflow-x-auto group items-center">
    <div
      *ngIf="!editTitleModeActive; else titleInput"
      class="text-xs flex flex-grow gap-2 items-center"
    >
      {{ task.Title }}

      <tim-spinner *ngIf="requestState.isPending" size="xs"></tim-spinner>

      <button
        tim-simple-button
        iconBtn="pen"
        class="invisible group-hover:visible hover:border-gray-300 border border-transparent rounded-md"
        size="xs"
        color="neutral"
        [disabled]="requestState.isPending"
        (click)="activateEditMode($event)"
      >
        Edit
      </button>
    </div>

    <ng-template #titleInput>
      <div class="flex gap-2">
        <tim-input
          [formControl]="titleFc"
          (click)="stopPropagation($event)"
        ></tim-input>

        <div class="flex gap-0.5">
          <button
            tim-stroked-button
            color="neutral"
            size="xs"
            (click)="updateTitle($event)"
          >
            ✔
          </button>
          <button
            tim-faint-button
            color="destructive"
            size="xs"
            (click)="cancelEditModeOnDocumentClick()"
          >
            X
          </button>
        </div>
      </div>
    </ng-template>
  </div>

  <jira-task-points-chip
    [task]="task"
    [taskPoints]="task.Points"
  ></jira-task-points-chip>
  <jira-task-status-selector
    [task]="task"
    [projectId]="project.Id"
    [allStatus]="project.AllTaskStatus"
  ></jira-task-status-selector>

  <jira-task-assignee-selector
    [assigneeOptions]="members"
    [task]="task"
  ></jira-task-assignee-selector>

  <jira-task-side-actions
    class="invisible group-hover:visible ml-1"
    [task]="task"
    [sprints]="sprints"
  ></jira-task-side-actions>
</div>
