<form
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  class="flex flex-col justify-center items-center flex-grow gap-4"
>
  <tim-input-field name="Email">
    <tim-input-label>Email</tim-input-label>

    <tim-input
      color="primary"
      [type]="EMAIL_INPUT"
      formControlName="email"
      placeholder="example@jira.com"
    ></tim-input>
  </tim-input-field>

  <tim-input-field class="w-80 mb-2" name="Password">
    <tim-input-label>Password</tim-input-label>

    <tim-password-input
      formControlName="password"
      type="password"
    ></tim-password-input>
  </tim-input-field>

  <tim-alert *ngIf="requestState?.isError" color="destructive" class="w-full">
    <tim-alert-title>{{ requestState?.error?.message }}</tim-alert-title>
  </tim-alert>
  <button
    tim-flat-button
    class="w-full"
    color="primary"
    type="submit"
    [loading]="requestState.isPending"
  >
    Login
  </button>

  <a tim-link [routerLink]="['/', 'auth', 'sign-up']">Back to Sign Up</a>
</form>
