<div
  class="h-14 flex flex-row px-3 items-center border-b border-gray-200 shadow-sm"
>
  <div class="flex">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
  </div>
  <div class="flex flex-grow justify-end">
    <jira-member-icon
      [member]="loggedUser$ | async"
      size="md"
      timDropdownTrigger
      [timDropdownMenuTriggerFor]="accountDropdown"
    ></jira-member-icon>
  </div>
</div>

<ng-template #icon>
  <span
    style="--logo-color: #2684ff; --logo-fill: var(--ds-text, #253858)"
    aria-label="Jira Software"
    role="img"
    class="css-12mte9y"
  >
    <img src="assets/jira-icon.svg"
  /></span>
</ng-template>

<tim-dropdown-menu #accountDropdown>
  <tim-dropdown-header>Account</tim-dropdown-header>
  <div class="mx-4 mb-2">
    <jira-member-info [member]="loggedUser$ | async"></jira-member-info>
  </div>
  <tim-divider></tim-divider>
  <tim-dropdown-item (click)="signOut()"
    ><span class="text-red-600 font-medium">Sign out</span></tim-dropdown-item
  >
</tim-dropdown-menu>
