<div
  class="h-14 flex flex-row px-3 items-center border-b border-gray-200 shadow-sm"
>
  <div class="flex">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
  </div>
  <div class="flex flex-grow"></div>
  <div class="flex flex-grow justify-end gap-4 items-center">
    <jira-global-search-bar></jira-global-search-bar>

    <jira-notifications-indicator></jira-notifications-indicator>

    <jira-member-icon
      [member]="loggedUser$ | async"
      size="md"
      timDropdownTrigger
      [timDropdownMenuTriggerFor]="accountDropdown"
    ></jira-member-icon>
  </div>
</div>

<ng-template #icon>
  <span
    style="--logo-color: #2684ff; --logo-fill: var(--ds-text, #253858)"
    aria-label="Jira Software"
    role="img"
    class="relative"
  >
    <div
      class="absolute text-red-500 font-bold text-lg -rotate-12 -right-5 top-4"
    >
      Clone
    </div>
    <img width="178" height="32" src="assets/jira-icon.svg" />
  </span>
</ng-template>

<tim-dropdown-menu #accountDropdown>
  <tim-dropdown-header>Account</tim-dropdown-header>
  <div class="mx-4 mb-2">
    <jira-member-info [member]="loggedUser$ | async"></jira-member-info>
  </div>
  <tim-divider></tim-divider>
  <tim-dropdown-item (click)="signOut()"
    ><span class="text-red-600 font-medium">Sign out</span></tim-dropdown-item
  >
</tim-dropdown-menu>
