<div class="flex flex-grow items-start gap-2">
  <jira-member-icon
    class="mt-1"
    [member]="currentUser"
    size="md"
  ></jira-member-icon>

  <jira-comment-editor
    [ngClass]="showTextEditor ? 'flex flex-grow' : ''"
    [(show)]="showTextEditor"
    [postCommentFn]="createCommentFn"
  ></jira-comment-editor>

  <ng-container *ngIf="!showTextEditor">
    <ng-container *ngTemplateOutlet="placeholder"></ng-container
  ></ng-container>
</div>

<ng-template #placeholder>
  <div
    (click)="showEditor($event)"
    class="border border-gray-300 hover:border-gray-400 py-2 rounded-sm text-gray-500 text-sm px-4 flex flex-grow"
  >
    Add a comment...
  </div>
</ng-template>
