<div
  cdkDrag
  [cdkDragPreviewClass]="['bg-blue-50', 'shadow-md']"
  [cdkDragData]="task"
  [cdkDragDisabled]="editTitleModeActive"
  class="flex flex-row items-center gap-2 cursor-pointer hover:bg-gray-100 p-1 pl-4 pr-2 group"
>
  <jira-task-type-selector
    [task]="task"
    [allTypes]="project?.TaskTypes"
  ></jira-task-type-selector>

  <div class="text-gray-600 font-light text-sm">{{ task.Key }}</div>

  <ng-container *ngTemplateOutlet="editableTitle"></ng-container>

  <jira-task-points-chip
    [task]="task"
    [taskPoints]="task?.Points"
  ></jira-task-points-chip>
  <jira-task-status-selector
    [task]="task"
    [allStatus]="project?.AllTaskStatus"
  ></jira-task-status-selector>

  <jira-task-assignee-selector
    [assigneeOptions]="members"
    [task]="task"
  ></jira-task-assignee-selector>

  <jira-task-side-actions
    class="invisible group-hover:visible ml-1"
    [task]="task"
    [sprints]="sprints"
  ></jira-task-side-actions>
</div>

<ng-template #editableTitle>
  <div class="flex flex-grow overflow-x-auto group items-center">
    <div
      *ngIf="!editTitleModeActive; else titleInputTempl"
      class="text-xs flex flex-grow gap-2 items-center"
    >
      <span [innerHTML]="task.RawTitle | sanitizeHtml"></span>

      <tim-spinner *ngIf="requestState.isPending" size="xs"></tim-spinner>

      <button
        tim-simple-button
        iconBtn="pen"
        class="invisible group-hover:visible hover:border-gray-300 border border-transparent rounded-md"
        size="xs"
        color="neutral"
        [disabled]="requestState.isPending"
        (click)="activateEditMode($event)"
      >
        Edit
      </button>
    </div>

    <ng-template #titleInputTempl>
      <div class="flex flex-grow gap-2">
        <tim-html-input
          #titleInput
          class="flex flex-grow children:flex children flex-grow overflow-hidden"
          [formControl]="titleFc"
          [noLineBreak]="true"
          (click)="stopPropagation($event)"
          (blur)="updateTitleIfBlurTriggeredByOutsideClick()"
          (escaped)="cancelEditMode()"
          [timHashtagAutocomplete]="hashtagsAutocomplete"
          (optionClicked)="markOptionHasBeenClicked()"
        ></tim-html-input>

        <tim-hashtag-autocomplete
          #hashtagsAutocomplete
          [tagTemplate]="tagTemplate$ | async"
          (newTag)="createNewTag($event)"
        >
          <tim-hashtag-option *ngFor="let tag of tags$ | async" [value]="tag">
            {{ tag }}
          </tim-hashtag-option>
        </tim-hashtag-autocomplete>

        <div class="flex gap-0.5">
          <button
            tim-stroked-button
            color="neutral"
            size="xs"
            (click)="updateTitle($event)"
          >
            ✔
          </button>
          <button
            tim-faint-button
            color="destructive"
            size="xs"
            (click)="
              $event.stopImmediatePropagation();
              $event.stopPropagation();
              $event.preventDefault();
              cancelEditMode()
            "
          >
            X
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
