<div
  class="flex flex-grow flex-col px-32 py-4 border border-gray-100 gap-4 text-gray-800"
>
  <div class="flex flex-grow justify-between">
    <div class="font-normal text-3xl">Projects</div>
    <jira-create-project-button></jira-create-project-button>
  </div>
  <div
    class="flex flex-grow font-medium text-gray-600 children:w-1/3 border-b-2 border-gray-200"
  >
    <div>Name</div>
    <div>Key</div>
    <div>Creator</div>
  </div>

  <div class="flex flex-col gap-4" *ngIf="!loading; else spinner">
    <ng-container *ngIf="projectList?.length > 0; else noProjects">
      <div
        *ngFor="let project of projectList"
        class="flex flex-row flex-grow children:w-1/3"
      >
        <a
          [routerLink]="[project.Id, 'board']"
          class="flex gap-2 items-center text-blue-600 hover:underline cursor-pointer"
        >
          <img [src]="project.Icon" class="w-5 h-5" />
          <div>{{ project.Name }}</div>
        </a>
        <div>{{ project.Key }}</div>

        <jira-member-icon
          class="w-fit"
          [member]="project?.Creator"
          [showTooltip]="true"
        ></jira-member-icon>

        <jira-delete-project-button
          [project]="project"
        ></jira-delete-project-button>
      </div>
    </ng-container>
  </div>

  <ng-template #spinner>
    <div class="flex flex-grow justify-center">
      <tim-spinner></tim-spinner>
    </div>
  </ng-template>
</div>

<ng-template #noProjects>
  <tim-alert color="warn" class="mt-4 shadow-md">
    <tim-alert-title>You are not a member of any projects</tim-alert-title>

    <tim-alert-description
      >In order to start collaborating, create a project of your own or ask your
      teammates to invite you to their project</tim-alert-description
    >
  </tim-alert>
</ng-template>
