<div class="flex flex-col gap-2 flex-grow p-3 bg-blue-50 rounded-sm shadow-sm">
  <div
    class="flex flex-grow text-md items-center font-medium text-gray-800 gap-2 cursor-pointer"
    (click)="toggleList()"
  >
    <img
      [src]="showList ? ARROW_DOWN : ARROW_RIGHT"
      class="h-5 w-5"
      height="20"
      width="20"
    />
    <div>{{ sprint?.Name }}</div>

    <ng-container *ngTemplateOutlet="sprintSchedule"></ng-container>
    <div class="flex flex-grow justify-end gap-2 items-center">
      <jira-sprint-points-breakdown
        [points]="sprint?.Points"
      ></jira-sprint-points-breakdown>

      <jira-complete-sprint-button
        *ngIf="!sprint?.IsBacklog"
        [sprint]="sprint"
      ></jira-complete-sprint-button>

      <jira-sprint-side-actions
        *ngIf="!sprint?.IsBacklog"
        [sprint]="sprint"
        [project]="project"
      ></jira-sprint-side-actions>
    </div>
  </div>

  <div
    *ngIf="renderTaskList"
    [ngClass]="showList ? 'visible' : 'hidden'"
    class="flex flex-col gap-2 flex-grow"
  >
    <jira-task-list
      class="bg-white ease-in-out delay-150"
      [tasks]="tasks"
      [project]="project"
      [members]="members$ | async"
      [sprints]="activeSprints$ | async"
      (taskClicked)="taskClicked.emit($event)"
    ></jira-task-list>

    <jira-create-task-row [sprint]="sprint"></jira-create-task-row>
  </div>
</div>

<ng-template #sprintSchedule>
  <div
    class="flex gap-0.5 text-xs font-light"
    *ngIf="sprint?.StartDate && sprint?.EndDate"
  >
    <span>{{ sprint?.StartDate | dateTimeFormat }}</span>
    <span>-</span>
    <span>{{ sprint?.EndDate | dateTimeFormat }}</span>
  </div>
</ng-template>
