<div class="flex flex-row gap-3 items-center">
  <tim-editable-header-input
    [formControl]="titleFc"
    [noMaxLength]="true"
    placeholder="Title"
    mode="html"
    [timHashtagAutocomplete]="hashtagsAutocomplete"
  ></tim-editable-header-input>

  <tim-hashtag-autocomplete #hashtagsAutocomplete [tagTemplate]="tagTemplate">
    <tim-hashtag-option *ngFor="let tag of tags" [value]="tag">
      {{ tag }}
    </tim-hashtag-option>
  </tim-hashtag-autocomplete>

  <div class="flex pt-2">
    <tim-spinner
      size="sm"
      *ngIf="requestState.isPending$ | async"
    ></tim-spinner>

    <img
      *ngIf="requestState.isSuccess || requestState.isError"
      [src]="requestState.isSuccess ? SUCCESS_ICON : ERROR_ICON"
      height="20"
      width="20"
      class="h-5 w-5"
    />
  </div>
</div>
