<div class="flex flex-col">
  <div class="text-xs font-medium">Description</div>
  <div class="flex flex-col gap-1">
    <tim-text-editor [formControl]="descriptionFc"></tim-text-editor>

    <div class="flex flex-row gap-1">
      <button
        tim-flat-button
        [disabled]="descriptionFc.value === task.Description"
        size="xs"
        (click)="saveDescriptionChanges()"
        [loading]="requestState.isPending"
      >
        Save
      </button>
      <button
        tim-simple-button
        color="neutral"
        size="xs"
        (click)="cancelDescriptionChanges()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
