<div [class]="hasFocus ? 'flex flex-grow' : 'w-80'">
  <tim-input
    timDropdownTrigger
    [timDropdownMenuTriggerFor]="taskResultsDropdown"
    [timDropdownMenuTriggerCloseOnClick]="false"
    [flexWidth]="true"
    class="flex flew-grow w-full"
    size="sm"
    [formControl]="searchControl"
    placeholder="Search tasks across projects"
    (focus)="toggleFocus(true)"
    (blur)="toggleFocus(false)"
  >
  </tim-input>
</div>
<tim-dropdown-menu #taskResultsDropdown [sameWidthAsTrigger]="true">
  <tim-dropdown-header>Tasks</tim-dropdown-header>

  <tim-dropdown-item *ngIf="requestState?.isPending">
    <div class="flex flex-grow justify-center"><tim-spinner></tim-spinner></div>
  </tim-dropdown-item>

  <tim-dropdown-item *ngIf="!hasAlreadyFetchedData && !requestState?.isPending">
    Start typing to see some results
  </tim-dropdown-item>
  <tim-dropdown-item *ngFor="let task of tasksList$ | async">
    <jira-tasks-search-item
      class="flex-grow"
      [taskInfo]="task"
    ></jira-tasks-search-item>
  </tim-dropdown-item>

  <tim-dropdown-item
    *ngIf="(tasksList$ | async)?.length == 0 && !requestState?.isPending"
    >No results</tim-dropdown-item
  >
</tim-dropdown-menu>
