<form
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  class="flex flex-col justify-center items-center flex-grow p-32 gap-4"
>
  <mat-form-field>
    <mat-label>Email</mat-label>

    <input
      matInput
      color="primary"
      formControlName="email"
      type="email"
    /> </mat-form-field
  ><mat-form-field>
    <mat-label>Password</mat-label>

    <input
      matInput
      color="primary"
      formControlName="password"
      type="password"
    />
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit">Login</button>
</form>
