<div
  class="relative flex flex-col w-screen h-screen items-start p-8 gap-16 bg-blue-900 text-gray-800"
>
  <div class="px-16 flex gap-88 items-center">
    <img [src]="MOON_IMG" height="380" width="380" class="h-95 w-auto" />

    <img
      [src]="ASTRONAUT_IMG"
      height="96"
      width="96"
      class="w-24 h-auto mb-16"
    />
  </div>

  <div class="px-24 flex w-full flex-row gap-60 items-end">
    <div class="flex flex-col font-bold text-blue-300 text-9xl">404</div>

    <div class="flex flex-col items-start mt-8">
      <div class="flex flex-col font-bold text-blue-300 text-8xl">Sorry</div>

      <div class="text-2xl font-light text-blue-100 mt-8">
        We couldn't find this page
      </div>
    </div>

    <div class="flex flex-col">
      <div class="text-4xl font-medium text-blue-100 mt-6">Go back to</div>

      <div class="flex gap-4 mt-2">
        <a routerLink="/auth/login">
          <tim-chip [clickable]="true" color="primary-darker" size="2xl"
            >Login</tim-chip
          >
        </a>
        <a routerLink="/">
          <tim-chip [clickable]="true" color="primary" size="2xl"
            >Home</tim-chip
          >
        </a>
      </div>
    </div>
  </div>
</div>
