/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;

.task-tag {
  @apply bg-blue-200 text-blue-600 font-medium  border border-gray-100 rounded-sm px-1 py-0.5 text-xs font-medium;
}

@tailwind utilities;

@import '@tim-mhn/ng-ui/styles.css';
@import '@tim-mhn/ng-forms/styles.css';
@import 'assets/styles/custom-scrollbar.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
