<button
  tim-simple-button
  iconBtn="dots"
  size="xs"
  color="neutral"
  timDropdownTrigger
  [timDropdownMenuTriggerFor]="sideActionsMenu"
></button>

<tim-dropdown-menu #sideActionsMenu>
  <jira-move-tasks-to-sprint-menu-items
    [task]="task"
    [activeSprints]="sprints"
  ></jira-move-tasks-to-sprint-menu-items>

  <tim-divider></tim-divider>
  <tim-dropdown-item (click)="deleteTask($event)"
    ><div class="text-red-800 font-medium">Delete</div></tim-dropdown-item
  >
</tim-dropdown-menu>
