<div class="flex flex-col gap-2 border border-gray-200 p-2 text-gray-800">
  <div *ngFor="let task of tasks" class="flex flex-row gap-2">
    <div class="flex flex-grow overflow-x-auto text-sm">{{ task.Title }}</div>
    <div
      class="rounded-full w-5 h-5 bg-gray-200 text-gray-900 text-[10px] flex justify-center items-center"
    >
      {{ task.Points }}
    </div>

    <jira-task-status-selector
      [task]="task"
      [projectId]="currentProjectId"
      [allStatus]="allStatus"
    ></jira-task-status-selector>
    <jira-member-icon
      [member]="task.Assignee"
      class="cursor-pointer hover:border-blue-100 border border-transparent rounded-full"
      [matMenuTriggerFor]="assigneeMenu"
    ></jira-member-icon>

    <mat-menu #assigneeMenu="matMenu">
      <div class="flex flex-col gap-1 py-1">
        <div
          *ngFor="let member of membersOptions"
          (click)="updateTaskAssignee(task, member)"
          class="hover:bg-blue-100 cursor-pointer px-3 py-2 flex flex-col text-gray-800 text-sm"
        >
          <div class="flex gap-4 items-center">
            <jira-member-icon [member]="member"></jira-member-icon>

            <div class="flex flex-col gap-1">
              <div>
                {{ member?.Name }}
              </div>
              <div class="text-xs text-gray-600">{{ member.Email }}</div>
            </div>
          </div>
        </div>
      </div>
    </mat-menu>
  </div>
</div>
