<jira-dialog-container [formGroup]="editSprintForm">
  <div class="text-gray-800 text-xl pb-2">
    Edit sprint: <span class="font-medium italic">{{ sprint?.Name }}</span>
  </div>

  <tim-input-field name="Name">
    <tim-input-label>Sprint name</tim-input-label>
    <tim-input [flexWidth]="true" formControlName="name"></tim-input>
  </tim-input-field>

  <tim-input-field>
    <tim-input-label>Start / End dates</tim-input-label>
    <tim-date-range-picker formControlName="dateRange"></tim-date-range-picker>
  </tim-input-field>
  <div class="flex flex-grow justify-end gap-2">
    <button tim-simple-button color="neutral" size="xs" timCloseDialogButton>
      Cancel
    </button>
    <button
      tim-flat-button
      color="primary"
      size="xs"
      [loading]="requestState?.isPending"
      [disabled]="editSprintForm.invalid"
      (click)="updateSprint()"
    >
      Update
    </button>
  </div>
</jira-dialog-container>
