<jira-member-icon
  [member]="task.Assignee"
  class="cursor-pointer inline-block hover:border-blue-100 border border-transparent rounded-full"
  timDropdownTrigger
  [timDropdownMenuTriggerFor]="assigneeMenu"
></jira-member-icon>

<tim-dropdown-menu #assigneeMenu>
  <div class="flex flex-col gap-1 py-1">
    <div
      *ngFor="let member of assigneeOptions"
      (click)="updateTaskAssignee(member)"
      class="hover:bg-blue-100 cursor-pointer px-3 py-2 flex flex-col text-gray-800 text-sm"
    >
      <jira-member-info [member]="member" size="md"></jira-member-info>
    </div>
  </div>
</tim-dropdown-menu>
