<div class="flex flex-grow text-gray-800 font-light">
  <div
    *ngIf="!createTaskMode"
    (click)="activateCreateTaskMode($event)"
    class="flex flex-grow gap-1 items-center p-1 rounded-sm cursor-pointer hover:bg-blue-100"
  >
    <img [src]="PLUS_ICON" height="16" width="16" class="w-4 h-4 pb-0.5" />
    Create task
  </div>

  <tim-html-input
    (click)="stopPropagation($event)"
    [noLineBreak]="true"
    placeholder="What needs to be done ?"
    [timHashtagAutocomplete]="hashtagsAutocomplete"
    class="flex flex-grow"
    *ngIf="createTaskMode"
    [formControl]="taskTitleFc"
  ></tim-html-input>

  <tim-hashtag-autocomplete #hashtagsAutocomplete [tagTemplate]="tagTemplate">
    <tim-hashtag-option
      *ngFor="let tag of ['frontend', 'backend', 'UI', 'urgent']"
      [value]="tag"
    >
      {{ tag }}
    </tim-hashtag-option>
  </tim-hashtag-autocomplete>
</div>
