<jira-feature-page-container
  [breadcrumbs]="[
    {
      label: 'Projects',
      route: 'projects'
    },
    {
      label: project?.Name,
      route: project?.Id
    },
    {
      label: 'Board',
      route: 'board'
    }
  ]"
>
  <div class="text-3xl font-normal pb-2">Board</div>

  <div class="flex items-center justify-between mb-4">
    <jira-board-filters
      [members]="projectMembers"
      [statusList]="project?.AllTaskStatus"
      [typeList]="project?.TaskTypes"
      (filtersChange)="filtersChange.emit($event)"
    ></jira-board-filters>

    <jira-create-sprint-button></jira-create-sprint-button>
  </div>

  <resizable-container class="overflow-hidden" [resizable]="!!taskSelected">
    <div resizableLeftElement class="flex flex-col flex-grow pr-3">
      <div class="flex flex-col flex-grow gap-4 overflow-auto">
        <ng-container
          *ngFor="
            let sprintWithTasks of sprintWithTasksList;
            trackBy: trackBySprintId
          "
        >
          <jira-sprint
            *ngIf="!(sprintWithTasks.Sprint.completed$ | async)"
            [project]="project"
            [tasks]="sprintWithTasks.Tasks"
            [sprint]="sprintWithTasks.Sprint"
            (taskClicked)="updateTaskSelected($event)"
          ></jira-sprint>
        </ng-container>
      </div>
    </div>

    <div *ngIf="taskSelected" resizableRightElement class="pl-3">
      <jira-task-details
        [task]="taskSelected"
        [project]="project"
        [members]="projectMembers"
        [sprints]="sprintInfoList"
        [withCloseIcon]="true"
        (crossClicked)="resetTaskSelected()"
      >
      </jira-task-details>
    </div>
  </resizable-container>
</jira-feature-page-container>
